* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(4, 80, 4);
  box-shadow: 1px 1px 1px rgb(141, 141, 141);
}

.header-logo {
  height: 71px; 
}
.header-text {
  font-family: "Great Vibes", cursive;
  font-size: 55px;
  padding: 10px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px;
}
p {
  margin-left: 10px;
}

a, a:visited {
  color: rgb(4, 80, 4);
}

a:active, a:hover {
  color:rgb(84, 12, 92)
}

footer {
  background-color: rgb(4, 80, 4);
  color:rgb(235, 235, 235);
  padding: 20px;
  margin: 40px 0px 0px 0px;
  text-align: center;
}
footer img {
  margin-right: 3px;
}

footer a, footer a:visited {
  color:rgb(235, 235, 235);
}

footer a:active, footer a:hover {
  color:rgb(171, 55, 184)
}

.github {
  height: 18px;
  margin: 0 3px;
}