* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
:root, :root.light {
  --primary-color: hsl(120, 90%, 16%);
  --secondary-color: hsl(294, 77%, 20%);
  --bg-secondary: var(--primary-color);
  --bg-color: white;
  --font-color: black;

}
:root.dark {
  --primary-color: hsl(120deg 55% 54%);
  --secondary-color: hsl(294, 71%, 35%);
  --bg-color: hsl(120deg 7% 10%);
  --bg-secondary: rgb(32 38 32);
  --font-color: white;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1rem;
  line-height: 1.5;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(4, 80, 4);
  box-shadow: 1px 1px 1px rgb(141, 141, 141);
  flex: 0 0 80px;
}

.header-logo {
  height: 3.5rem; 
  
}
.header-text {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  padding: 10px 0px 0px 0px;
}

main {
  height: 100%;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px;
}
p {
  margin-left: 10px;
}

a, a:visited {
  color: var(--primary-color);
}

a:active, a:hover {
  color:var(--secondary-color);
}

footer {
  background-color: var(--bg-secondary);
  display: flex;
  color:rgb(235, 235, 235);
  padding: 20px;
  margin: 40px 0px 0px 0px;
  flex: 0 0 80px;
  justify-content: center;
  align-items: center;

}
footer img {
  margin-right: 3px;
}

footer a, footer a:visited {
  color:rgb(235, 235, 235);
}

footer a:active, footer a:hover {
  color:rgb(171, 55, 184)
}

.github {
  height: 18px;
  margin: 0 3px;
}

.theme-toggle {
  top: 0px;
  right: 8px;
  position: absolute;
}